.img {
    max-height: -webkit-fill-available;
}

.itemType {
    background-color: var(--mat-sys-inverse-primary);
    color: blue;
    padding: 8px !important;
    border-radius: 15px;
}

.state {
    display: grid;
    gap: 8px;
    justify-items: center;
    padding: 16px;
}

.state.error {
    color: red;
}