<app-navbar/>
<mat-sidenav-container>
  <mat-sidenav opened mode="side">
    <a mat-button routerLink="homepage"><mat-icon>home</mat-icon>Homepage</a>
    @if (authService.loggedUserRole() === "User" || authService.loggedUserRole() === "Admin") {
    <a mat-button routerLink="user-items"><mat-icon>list</mat-icon>My Items</a>
    }
    @if (authService.loggedUserRole() === "Admin") {
    <a mat-button routerLink="admin"><mat-icon>settings</mat-icon>Admin</a>
    }
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>