:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mat-sidenav-container {
  flex: 1;
  overflow: hidden;
}

.mat-sidenav {
  width: 200px;
  padding: 20px;
  background-color: smokeblue;
}

.mat-sidenav-content {
  padding: 20px;
}