<mat-card>
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
        <mat-card-subtitle>Please enter your credentials:</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput type="text" formControlName="username">
                @if (loginForm.get('username')?.invalid && loginForm.get('username')?.touched) {
                <mat-error>Username is required</mat-error>
                }
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
                @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
                <mat-error>Password is required</mat-error>
                }
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button matButton="tonal" type="submit" [disabled]="loginForm.invalid || loading()">
            <mat-icon>login</mat-icon>
            {{ loading() ? 'Logging in…' : 'Login' }}
        </button>
    </mat-card-actions>
    <mat-card-footer>
        Don't have an account? You can register <a routerLink="../register">here</a>
    </mat-card-footer>
</mat-card>