.mat-toolbar {
    background: var(--mat-sys-primary-container);
    color: var(--mat-sys-on-primary-container);
}

.mat-toolbar .mat-mdc-button-base.mat-mdc-button-base.mat-unthemed {
    color: var(--mat-sys-on-primary-container);
}